/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

body {

background-image: url("./assets/img/IMG_14577.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: rgb(197, 169 ,151);
  font-family: "Arial";
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.formDIV {
  margin: auto;
  margin-top: 2%;
  margin-right:30%;
  border-radius: 15px;
  background-color: rgb(77, 55 ,49);
  border: 2px solid #808080;
  padding-left: 1.1%;
  padding-right: 1.1%;
  opacity: 0.75;
}

.formDIV1
{
  margin: auto;
  margin-top: 2%;
  margin-right:10%;
  border-radius: 15px;
  background-color: rgb(77, 55 ,49);
  border: 2px solid #808080;
  padding-left: 1.1%;
  padding-right: 1.1%;
  opacity: 0.75;
}
.formDIV2
{
 
  opacity: 100%;
  /*margin-right:20px;*/
  margin-right: 40%;
  margin-top: 60%;
  width: 80%;
  
}


.formlog
{
  width:40%;
  margin: auto;
  margin-top: 15%;
  margin-right:35%;
  border-radius: 15px;
background-color: rgb(77, 55 ,49);
  /*border: 2px solid #808080;*/
  padding-left: 1.1%;
  padding-right: 1.1%;
  opacity: 0.75;
}

.vertical-center {
  min-height: 93%;
  width: 100%;
  display: flex;
  align-items: center;
}

.selected {
  background-color: #B0B0B0 !important;
}

td.details-control {
  background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
  cursor: pointer;
}

tr.shown td.details-control {
  background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}

.navbar-style {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.75;
}

.logo {
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.logo:hover, .logo:focus, .logo:active {
  /*background: url("./assets/img/logo.png");*/
  background: url("./assets/img/logo1.png");
  background-size: contain;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}

/* Responsive Styles */

@media screen and (max-width: 767px) {
  .card-container, .formDIV>*:not(.circle-link), .terminal {
    width: 100%;
  }
  .card:not .formDIV:not .highlight-card {
    height: 16px;
    margin: 8px 0;
  }
  .card.highlight-card span {
    margin-left: 72px;
  }
  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.ng-leave {
  display: none !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.logo-img
{
   
    margin-right: 450px;
    margin-top: 10%;
    width:400px;
    height:400px;
    
}
.btn1
{
  background-color: rgb(197, 169 ,151);
  color: white;
      
}
.btn1:hover
{
  box-shadow: inset 500px 0 0 1px rgb(197, 169 ,151);
     -webkit-perspective: 1000;
     -webkit-backface-visibility: hidden; 
     color: white;
}

.fontSt
{
  color:rgb(197, 169 ,151);;

}



.btnColDialog
{
    background-color:rgb(197, 169, 151);
}

.btnDialog
{
  background-color:rgb(122, 91, 78);
  opacity: 70%;
}