<h1 mat-dialog-title><strong>{{action}} Branch</strong></h1>
<div mat-dialog-content>                                                
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input [readonly]="checkpermission()!='Admin'" matInput [(ngModel)]="action_data.name">
  </mat-form-field>
  
  <mat-form-field appearance="outline" >
    <mat-label>Country </mat-label>
    <input [readonly]="checkpermission()!='Admin'" matInput [(ngModel)]="action_data.location.country">
  </mat-form-field>

  <mat-form-field appearance="outline" >
    <mat-label>City</mat-label>
    <input [readonly]="checkpermission()!='Admin'" matInput [(ngModel)]="action_data.location.city">
  </mat-form-field>

  <mat-form-field appearance="outline" >
    <mat-label>Street</mat-label>
    <input [readonly]="checkpermission()!='Admin'" matInput [(ngModel)]="action_data.location.street">
  </mat-form-field>
</div>

<div *ngIf="canEdit()" mat-dialog-actions style="padding-left:25px">
  <button mat-button (click)="doAction()" mat-flat-button class="btnColDialog">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button class="btnColDialog" >Cancel</button>
  <div style="padding-top:5px">
    <button mat-button (click)="deleteAction()" mat-flat-button class="btnColDialog" *ngIf="action == 'Edit'" style="width:147px">Delete</button>
  </div>
</div>

<div style="padding-left:25px" >
  <button mat-button (click)="closeDialog()"  mat-flat-button class="btnColDialog" *ngIf="action == 'View'" style="width:147px">Back</button>
</div>
