<h1 mat-dialog-title><strong>{{action}} User</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'ResetPassword' && action != 'Permission' ; else PermissionTemplate">
    <input placeholder="{{action}} User Firstname" matInput [(ngModel)]="local_data.firstname">
  </mat-form-field>

  <mat-form-field *ngIf="action != 'ResetPassword' && action != 'Permission' ;">
    <input placeholder="{{action}} User Lastname" matInput [(ngModel)]="local_data.lastname">
  </mat-form-field>

  <mat-form-field *ngIf="action != 'ResetPassword' && action != 'Permission' ;">
    <input placeholder="{{action}} User Email" matInput [(ngModel)]="local_data.email">
  </mat-form-field>

  <ng-template #PermissionTemplate>
    <div *ngIf="action != 'ResetPassword'; else ResetPasswordTemplate">
        <mat-form-field appearance="outline" >
        <mat-label>Choose Status</mat-label>
          <mat-select [(value)]="selectedStatus"required>
            <mat-option *ngFor="let status of statusList" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <div *ngIf="selectedStatus == 'Employee' || selectedStatus == 'Manager' ">
        <mat-form-field appearance="outline" >
        <mat-label>Choose Branch</mat-label>
          <mat-select [(value)]="selectedBranch"required>
            <mat-option *ngFor="let branch of branchList" [value]="branch">
              {{branch.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </ng-template>

  <ng-template #ResetPasswordTemplate>
    Are you sure you want to reset the current password of <b>{{local_data.firstname}}</b>?<br>
    New password: <b>{{this.newPassword}}</b>
  </ng-template>
</div>

<div mat-dialog-actions style="padding-left:20px">
  <button mat-button (click)="doAction()" mat-flat-button class="btnColDialog">Save</button>
  <button mat-button (click)="closeDialog()" mat-flat-button class="btnColDialog">Cancel</button>
</div>