.example-spacer {
  flex: 1 1 auto;
}

/*.mat-toolbar
{
  background-color: rgb(159, 83, 62);
}*/

.header {
  color: rgb(159, 83, 62);
  opacity: 0.75;
  border-bottom: 1px solid  rgb(159, 83, 62);
}

.is-active {
  color: rgb(159, 83, 62);
  border: 1px solid rgb(159, 83, 62);
  -webkit-box-shadow: 0px -1px -1px -1px (159, 83, 62);
  /* Safari , iOS 5- */
  -moz-box-shadow: 0px -1px -1px -1px (159, 83, 62);
  /* Firefox 3.5 */
  box-shadow: 0px -1px -1px -1px (159, 83, 62);
  text-decoration: underline;
}