
<mat-toolbar class="tableBG" style="justify-content: center; height: 56px;">
<h2> <b>Users list </b></h2>
</mat-toolbar>
<mat-toolbar class="tableBG">
<span class="glyphicon glyphicon-search" style="text-align: center"></span>
<input (keyup)="applyFilter($event)" placeholder="Search">
<span class="example-fill-remaining-space"></span>
</mat-toolbar>
<div class='table-responsive mat-elevation-z8'>
  <table mat-table [dataSource]="dataSource" #mytable matSort class="my-table mat-elevation-z8" class="tableBG">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
    
    <!-- Id Column -->
    <ng-container matColumnDef="id" *ngIf="columnNotInclude('id')">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>    <!--['id','firstname','lastname','branch','status','manager','email','action'] -->
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>
 
    <!-- firstname Column -->
    <ng-container matColumnDef="firstname" *ngIf="columnNotInclude('firstname')">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>

    <!-- lastname Column -->
    <ng-container matColumnDef="lastname" *ngIf="columnNotInclude('lastname')">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

     <!-- branch Column -->
     <ng-container matColumnDef="branch" *ngIf="columnNotInclude('branch')">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch </th>
      <td mat-cell *matCellDef="let element"><ng-container *ngIf='element.branch != null'>{{element.branch.name}}</ng-container></td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status" *ngIf="columnNotInclude('status')">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
  
  	<!-- manager Column -->
    <ng-container matColumnDef="manager" *ngIf="columnNotInclude('manager')">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager </th>
      <td mat-cell *matCellDef="let element"><ng-container *ngIf='element.manager != null'>{{element.manager.firstname }} {{element.manager.lastname }}</ng-container></td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email" *ngIf="columnNotInclude('email')">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="action" *ngIf="columnNotInclude('action')">
      <th mat-header-cell *matHeaderCellDef > Action </th>
      <td mat-cell *matCellDef="let element" class="action-link"> 
        <a (click)="openDialog('Permission',element)"> <img src="./assets/img/icons8edituser24.png" aria-hidden="true"></a> |
        <a (click)="openDialog('Edit',element)"> <img src="./assets/img/icons8editproperty26.png" aria-hidden="true"></a> | 
        <a (click)="openDialog('ResetPassword',element)"> <img src="./assets/img/icons8forgotpassword24.png" aria-hidden="true"></a>
      </td>
    </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[12, 25, 50]" showFirstLastButtons class="tableBG"></mat-paginator>
</div>
  