<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" style="opacity:1; padding-bottom:5%;">
	<div class="form-login-container " >
		<h1 class="LognRegister" style="text-align:center" >Forgot password</h1>
		<div id="EmailForgotGroup" class="form-group" [ngClass]="displayFieldCss('email')">
			<label for="inputEmailForgot">Email:</label>
			<div class="input-group">
					<span class="input-group-addon">
					<span class="glyphicon glyphicon-user"></span>
					</span>
					<input type="text" formControlName="email" class="form-control" id="inputEmailForgot" placeholder="Enter Email" />
			</div>
			<app-field-error-display 
				[displayError]="isFieldValid('email')" 
				errorMsg="Please enter a valid email">
			</app-field-error-display>		
		</div>
		<button id="forgotBtn" class="btn  btn-block btn1">Get password</button>
	</div>
</form>