.header {
  justify-content: center;
  background-color: transparent;
  top: 0;
  height: 100px;
  margin-bottom: 0%;
}

.colo{
  color:rgb(197, 169 ,151);
}

.logologin {
  width: 10%;
  /*max-width: 100%;*/
margin-top: 17%;
margin-right: 95%;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.logologin:hover, .logologin:focus, .logologin:active {
  background-size: contain;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}