.header {
  justify-content: center;
  background-color: transparent;
  top: 0;
  height: 100px;
  margin-bottom: 0%;
}


.logoregister {
  width: auto;
  max-width: 100%;
  margin-top: 25%;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;*/
}

/*
.logoregister:hover, .logoregister:focus, .logoregister:active {
  background-size: contain;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}*/