<div class="container "  *ngIf="getUserPermission() != 'None' && getUserPermission() != 'New Employee'; else newEmployeeTemplate"> 
  <div class="container " style="height: 409px;">
  
     <div> 
       <div class="card-main">
    
         <div class="main-description" id="or-color2" >
           <div class="truncate-header"> Hi, {{this.user.firstname}}</div>
            Have a great day!
            </div>
          </div>
        </div> 
   <!-- </div> -->
 
   <div *ngIf="getUserPermission() != 'Admin'; else adminTemplate">
 
 
 
     <div class="row try try2 ">
         
       <!----------------------->
       <div class="card col-4 col-md-4 col-sm-12 " id="or-border2" >
 
       
         <!----- <div class="card-main"> ----->
           <a><img  src="./assets/img/manager.png" class="card-img card-img2"  alt="No photo"></a>
           
           <div class="main-description" id="or-header2">
             Your Manager
           </div>
           <div class="description" id="or-color2">
             {{this.managerName}}
           </div>
        <!------ </div>  --->
       </div>
     <!----------------------------->
       <div class="card   col-4 col-md-4 col-sm-12 " id="or-border2">
         <a><img src="./assets/img/bran.png" class="card-img card-img2"  alt="No photo"></a>
         <div class="main-description" id="or-header2">
           Branch
         </div>         
           <div class="description" id="or-color2">
             {{this.branchName}}
           </div>   
       </div>
      <!----------------------------->
       <div class="card   col-4 col-md-4 col-sm-12 " id="or-border2">
         <a><img src="./assets/img/addr.png" class="card-img card-img2"  alt="No photo"></a>
         <div class="main-description" id="or-header2">
          Location
         </div>
           <div class="description" id="or-color2">
             <div >{{this.branchAddressCountry}}</div>
             {{this.branchAddress}}
           </div>
         </div>
     </div>   
     <!-----------CARDS------------->
     <app-brandchart></app-brandchart> 
     </div>
 
     <ng-template #adminTemplate>
       <div class="row try try2">
         
         <!----------------------->
         <div class="card col-4 col-md-4 col-sm-12 " id="or-border2" >
 
         
           <!----- <div class="card-main"> ----->
             <a><img  src="./assets/img/emp.jpg" class="card-img"  alt="No photo"></a>
             
             <div class="main-description" id="or-color2">
               Total Employees
             </div>
             <div class="description"  id="or-color2">
               {{usersNum}}
             </div>
          <!------ </div>  --->
         </div>
       <!----------------------------->
         <div class="card   col-4 col-md-4 col-sm-12 " id="or-border2">
           <a><img src="./assets/img/branches.png" class="card-img"  alt="No photo"></a>
           <div class="main-description" id="or-color2">
             Total Branches
           </div>         
             <div class="description"  id="or-color2">
               {{branchesNum}}
             </div>   
         </div>
        <!----------------------------->
         <div class="card   col-4 col-md-4 col-sm-12 " id="or-border2">
           <a><img src="./assets/img/income.png" class="card-img"  alt="No photo"></a>
           <div class="main-description" id="or-color2">
             Total Income
           </div>
             <div class="description"  id="or-color2">
               {{monthIncome}}
             </div>
           </div>
       </div>   
       <!-----------CARDS------------->
       <app-brandchart></app-brandchart> 
     </ng-template>
   </div>
 
   </div>
   <!----------------------------------------->
   <ng-template #newEmployeeTemplate>
     <div *ngIf="getUserPermission() != 'None'; else noneTemplate">
       <div class="container " style="height: 809px;">
       <div class="row waitCard">
         <div class="card-main waitCard2" id="or-border2">
          <!--- 
          <div class="card-header" id="or-header2">
             Welcome New Employee!
           </div>
           --->
           <div class="card-main">
             <!----<i class="material-icons" id="or-color2">
               home_work
             </i>
             --->
             <div class="main-description" id="or-color2">
              <div>
              Hi, {{this.user.firstname}}
            </div>
              
               <div>
               WELCOME TO OUR COMPANY
              </div>
              <img src="https://img.icons8.com/carbon-copy/100/000000/spa-flower.png"/>
             <br> <strong>You need to be patient and wait for a manager to assign you a to your branch.</strong>
             <br> Beauty Clinic company wishes you to have a great day!
             </div>
           </div>
         </div>
       </div> 
     </div>
     </div>
   </ng-template>
 


   <!------------------------->
 <!------------------------->
 <ng-template #noneTemplate>
  <div class="container " style="height: 809px;">
    <div class="row waitCard">
      <div class="card-main waitCard2" id="or-border2">
        <div class="card-main">  
          <div class="main-description" id="or-color2">
           <div>
           Hi, {{this.user.firstname}}
         </div>
            <div>
           ACCOUNT REJECTED!
           </div>
           <img src="https://img.icons8.com/dotty/80/000000/unfriend-female.png"/>
          <br> <strong>Your account have been disabled you can contact us for more information.</strong>
          <br> Beauty Clinic company wishes you to have a great day!
          </div>
        </div>
      </div>
    </div> 
  </div>
 </ng-template>