.container {

    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.c1
{
    background-color: rgb(235,225,217);
}

.waitCard{
    margin-right: 25%;
    
}
.waitCard2{
    margin-top:20%
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    margin-top: 2%;
}

.card {
    width: 200px;
    height: 260px;
    background-color: rgb(255,255,255);
    /*border: 1px solid #ef9a9a;*/
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-items: center;
    /*justify-content: center;*/
    margin: 5px;
}

.card2 {
    width: 465px;
    border: 1px solid #ef9a9a;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.card-header {
    color: #d32f2f;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #ef9a9a;
    background-color: #ffebee;
    padding: 5px 10px;
}

.card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}

.material-icons {
    font-size: 36px;
    color: #d32f2f;
    margin-bottom: 5px;
}

.main-description {
    font-family: 'chloe';
    color: #d32f2f;
    font-size: 20px;
    text-align: center;
}

.description
{
 font-family: 'chloe';
    color: #d32f2f;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

#or-border {
    border-color: #ffe082;
}

#or-header {
    background-color: #fff8e1;
    border-color: #ffe082;
    color: #ffa000;
}

#or-color {
    color: #ffa000;
}

#or-border2 {
    border-color: rgb(160,86,61);
}

#or-header2 {
    background-color: rgb(235,225,217);
    border-color: rgb(160,86,61);
    color: rgb(160,86,61);
}

#or-color2 {
    opacity: 1.0;
    color: rgb(0,0,0);
}

.truncate-cell {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-header {
    max-width: 445px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 30px;
    font-weight: bold;
   
}


html, body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
}


.card-img
{
    display: block;
  margin-left: auto;
  margin-right: auto;
    height: 200px;
    width: 180px;
    /*position: relative;
    justify-items: center;
   align-items: center;*/
}

.card-img2
{
    height: 95%;
    width: 95%;
    margin-top: 2%;
}

.try
{
    flex-wrap: wrap;
}

/*.try2
{
    margin-left: 1%;
    margin-right: 46%;
}*/