<!--- <mat-toolbar class="footer" > --->
   <!----
    <span style="justify-content: left;" class="long" >   H&R Clinics  <br> Haia Kablan & Rulla Rammal <br>  All rights reserved </span>
    --> 
    <!-- <span class="short"> All rights reserved</span> -->
<!---
  </mat-toolbar>
--> 

  <!-- Footer -->
  <footer class=" container-fluid page-footer font-small special-color-dark pt-4 bg-light">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com">
            <i class="fab fa-facebook-f fa-2x facebook icon" > </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1" href="https://twitter.com">
            <i class="fab fa-twitter fa-2x icon"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1" href="https://www.instagram.com">
            <i class="fab fa-instagram fa-2x icon" ></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1" href="https://www.youtube.com" >
            <i class="fab fa-youtube fa-2x icon"> </i>
          </a>
        </li>
       
      </ul>
      <!-- Social buttons -->
  
    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright: Rulla Rammal & Haia Kablan
      <br>
      <a href="mailto:someone@yoursite.com" class=" icon ">Email Us</a> 
    </div>
    <!-- Copyright -->
  
  </footer>