.footer {
    position: flex;
    font-size: 120%;
    left: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    background-color: rgb(71, 71, 71);
    opacity: 0.7;
    border-top: 0.1px solid #212121;
    height: 100px;
    /*min-height: 20;
    max-height: 40;*/
}

.icon{
color: rgb(197, 169 ,151);;
}

.email
{
    color: rgb(176, 162, 162);
    text-decoration: underline;
}
/*
@media(max-width: 600px) {
    .long {
        display: none;
    }
}

@media(min-width: 600px) {
    .short {
        display: none;
        font-size: 40%;
    }
}
*/