<!-- side bar -->
<mat-sidenav mode="side" opened>
    <nav class="main-menu" >
        <ul >
        <div *ngIf="checkpermission('active');else blocked"> 
          <li (click)="Select('Income')">
              <a href="/panel" [ngClass]="{'is-active ': selected=='Income'}" onclick="return false;">
                  <i class="fa fa-bar-chart-o fa-2x fonco"  [ngClass]="{'is-active ': selected=='Income'}" #Income></i>
                  <span class="nav-text fonco">
                      Income
                  </span>
              </a>
          </li>
          <li (click)="Select('Treatment')">
              <a href="/panel" [ngClass]="{'is-active ': selected=='Treatment'}" onclick="return false;">
                  <i class="fa fa-table fa-2x fonco" [ngClass]="{'is-active ': selected=='Treatment'}" #Treatment ></i>
                  <span class="nav-text fonco">
                      Treatments
                  </span>
              </a>
              
          </li>
          <li *ngIf="checkpermission('users')" #menu (click)="Select('Users')">
            <a href="/panel" [ngClass]="{'is-active ': selected=='Users'}" onclick="return false;">
               <i class="fa fa-list fa-2x fonco"  [ngClass]="{'is-active ': selected=='Users'}" #Users ></i>
                <span class="nav-text fonco">
                    Users
                </span>
            </a>
        </li>
        <li  (click)="Select('Map')">
            <a href="/panel" [ngClass]="{'is-active ': selected=='Map'}" onclick="return false;">
                <i class="fa fa-map-marker fa-2x fonco" [ngClass]="{'is-active ': selected=='Map'}" #Map ></i>
                <span class="nav-text fonco">
                    Map
                </span>
            </a>
        </li>
    </div>
    
    <ng-template #blocked>
        <li *ngIf="checkpermission('welcome')" #menu (click)="Select('Welcome')">
        </li>
        <li *ngIf="checkpermission('blocked')" #menu (click)="Select('Blocked')">
            <a href="/panel" [ngClass]="{'is-active ': selected=='Blocked'}" onclick="return false;">
            </a>
        </li>
    </ng-template>
    </ul>
    
    <ul class="logout">
        <li>
           <a href="/" (click)="endsession()" #Logout>
                 <i class="fa fa-power-off fa-2x fonco" ></i>
                <span class="nav-text fonco">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
    </nav>
    </mat-sidenav>